/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;  
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*----------------my stuff below------------------*/

header, header a
{
padding:0;
margin:0;
}

.body_tag
{
font-family: "Ubuntu";
border-right:solid 2px #21284f;
border-left:solid 2px #21284f;
margin:0 auto;
width:1200px;
height:660px;
color:#21284f;

}

.mainhead_tag
{
text-align:center;
color:white;
background-color:#21284f;
font-family:"Ubuntu";
padding-bottom:8px;
padding-top: 28px;
font-size: 40px;
border-bottom: solid 1px #1f6fbf;
}



.p_tag
{
font-family:"Ubuntu";
font-size:20px;
letter-spacing: 2px;
}

a:link {text-decoration:none;
	color:white;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */

#background-color{
	padding: -10px;
	background-color: #21284f;
}


.nav_bar_tag{
	text-align: center;
	font-size: 18px;
	color: white;
	font-family: "Ubuntu";
	background-color: #21284f;
	padding:10px;
}

/*This is the division for the collumns*/

#maincontainer{
width: 1200px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}

#contentwrapper{
float: left;
width: 100%;
}

#Diagramcolumn{
display:inline-block;
float:left;
padding:50px;
width: 400px; /*Margin for content column. Should be (RightColumnWidth + LeftColumnWidth)*/
}

.descriptioncolumn{
border-left:solid 2px #1f6fbf;
border-right:solid 2px #1f6fbf;
display:inline-block;
float: left;
height:560px;
padding:50px;
width: 386px; /*Width of left column in pixel*/
 /*Set margin to -(LeftColumnWidth + RightColumnWidth)*/

}

#subcomponentcolumn{
display:inline-block;
float: left;
height:630px;
width: 210px; /*Width of right column in pixels*/
 /*Set margin to -RightColumnWidth*/
background-color: white;
}

#descriptionbuttons1{
	text-align: center;
	width:150px;
	height:50px;
	margin:25px;
	border-bottom:solid 2px #21284f;
}


.descriptionbuttons{
	text-align: center;
	width:150px;
	height:50px;
	margin:25px;
	border-bottom:solid 2px #21284f;
}

#columnteamdescription{
	width: 340px; 
	height:540px;
	display: inline-block;
}
#pictureofteam{
	/*padding: 20px;*/
	display: inline-block;
}

#teammember{
	width:300px;
	padding:20px;
	height:200px;
}

#video{
	padding: 35px;
	display:inline-block;
}

#intropagetext{
	float: top;
	padding:40px;
	display: inline-block;
	width:400px;
}

#robotpicture{
	width:500px;
}

#footer_tag{
padding: 10px;
text-align: center;

color:#9f7db5;
background-color:#21284f;
font-family:"Ubuntu";
}
/*colors
dark purple  #d13d82
light purple #9f7db5
dark blue    #21284f
sorta dark blue  #253387
medium blue  #1f6fbf
light blue   #87bef5

*/